<html>
  <head>
    <title>Red Child</title>
    {% block stylesheet %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      
      <section class="header">
        {% block heading %}
        {% endblock %}
      </section>

      <div class="row">
        {% block subheading %}
        {% endblock %}
        
        <hr/>

        <div class="five columns">
          {% block blurb %}
          {% endblock %}
        </div>
        <div class="five columns">
          {% block blurb2 %}
          {% endblock %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="ten columns">
          <input class="u-full-width" type="text" placeholder="Summoner Name">
        </div>
        <div class="one column">
          <input class="button-primary" type="button" value="Submit">
        </div>
      </div>

    </div>
  </body>
</html>
